@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "GothamPro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/GothamPro/GothamPro.eot");
  src: url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  background: #F2F2F2;
  color: rgba(35, 35, 35, 0.87); }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #929292;
  border: 1px solid #D9D9D9;
    border-radius: 5px;
  width: 100%;
  height: 43px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #929292; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #929292; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #929292; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #929292; }
  input:hover, textarea:hover, select:hover {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%;
  margin: 0 0 18px; }
  label:last-child {
    margin: 0; }

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 18px 0 16px;
  color: #A5A5A5;
  font-size: 12px;
  line-height: 15px;
  font-family: "GothamPro", sans-serif; }

.inp-check {
  display: none; }

.checkbox-custom {
  width: 16px;
  height: 16px;
  min-width: 16px;
  border: 1px solid #C4C4C4;
    border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 9px 0 0; }
  .checkbox-custom:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 1px; }

.inp-check:checked + .checkbox-custom:before {
  background: #7CD54C; }

form button[type='submit'] {
  width: 100%;
  max-width: none; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Noto Sans", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 5px; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 43px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 20px;
  font-weight: bold;
  font-size: 14px; }

.btn-accent {
  color: #fff;
  background: #7CD54C; }
  .btn-accent:hover {
    background: #2B51B5;
    color: #fff; }

.btn-blue {
  color: #fff;
  background: #2B51B5; }
  .btn-blue:hover {
    background: #7CD54C;
    color: #ffff; }

.btn-grey {
  background: #D9D9D9;
  max-width: 350px;
  width: 100%;
  color: #929292; }
  .btn-grey:hover {
    background: #2B51B5;
    color: #fff; }

.btn-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9px;
  min-width: 9px;
  height: 17px;
  fill: #fff; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

.box-text {
  line-height: 20px;
  font-size: 15px;
  color: #686868; }
  .box-text p {
    margin: 0 0 20px; }
    .box-text p:last-child {
      margin: 0; }

h1 {
  width: 100%;
  font-size: 31px;
  font-weight: bold; }

h2 {
  width: 100%;
  color: rgba(35, 35, 35, 0.87);
  font-weight: bold;
  font-size: 28px;
  line-height: 32px; }

h3 {
  font-size: 18px;
  font-weight: bold;
  width: 100%; }

.bg-white {
  background: #fff; }

.bg-accent {
  background: #2B51B5;
  color: #fff; }

.color-accent {
  color: #2B51B5; }

.color-grey {
  color: #C4C4C4; }

.links-details {
  font-size: 15px; }
  .links-details:hover {
    color: #2B51B5; }

.mb-14 {
  margin-bottom: 14px; }

.mb-10 {
  margin-bottom: 10px; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.slick-arrow {
  padding: 0;
  outline: none;
  border: none;
    border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 21px;
  height: 34px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 50%;
  background: transparent;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  fill: #C4C4C4; }

.slick-prev {
  left: -51px; }

.slick-next {
  right: -51px; }
