@import "vars"

/*==========  header  ==========*/
.logo
  display: flex
  align-items: center
  justify-content: center
  max-width: 160px
  width: 100%

  img
    width: 100%


.name-company
  max-width: 200px
  width: 100%
  color: $accent
  font-size: 20px
  line-height: 116.2%
  font-weight: bold
  margin: 0 auto 0 0

.btn-burger
  display: none
  flex-direction: column
  align-items: flex-start
  width: 24px
  cursor: pointer

  span
    background: $green
    border-radius: 3px
    display: block
    margin: 0 0 6px
    height: 3px
    width: 100%

    &:nth-child(2)
      width: 15px

    &:last-child
      margin: 0

.header-box
  display: flex
  align-items: flex-start
  font-size: 15px
  margin: 0 0 0 70px

  &:first-child
    margin: 0

  p
    font-weight: bold
    color: #000

  &__icon
    fill: $green
    margin: 0 12px 0 0
    width: 18px
    height: 19px
    min-width: 18px
    display: flex
    align-items: center
    justify-content: center

  a
    color: #232323

.phone
  font-size: 18px
  font-weight: bold

.btn-call
  margin: 0 0 0 35px
  height: 35px
  padding: 0
  max-width: 160px
  width: 100%

.header-bottom
  margin: 3px 0 0

.menu
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  background: #fff
  border-radius: 5px
  padding: 15px 0 19px
  font-size: 15px
  line-height: 20px
  font-weight: bold
  li
    flex: auto
    border-right: 1px solid #6DE02E
    &:last-child
      border: none
    a
      padding: 0 22px
      text-align: center
      color: #000
      &:hover
        color: $accent

.dropdown-services
  margin: 5px 0 0

.dropdown-toggle-my
  width: 100%
  border-radius: 5px 5px 0 0
  height: 37px
  text-transform: uppercase
  font-size: 15px
  padding: 0 13px
  &:after
    display: none

.dropdown-toggle__text
  margin: 0 auto

.dropdown-menu__sub
  display: none

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle
  background: #2B51B5
  .btn-arrow
    opacity: 0

.dropdown-menu
  margin: 0
  background: #fff
  border: none
    radius: 5px
  box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.11)
  width: 100%
  padding: 0


.submenu
  font-size: 15px
  font-weight: 500
  border-radius: 0 0 5px 5px
  overflow: hidden
  li
    a
      color: rgba(35, 35, 35, 0.87)

.submenu-item__links
  padding: 12px 19px 12px 31px
  display: flex
  align-items: center
  justify-content: space-between
  &:hover
    background: $green
    color: #fff
    .btn-arrow
      fill: #fff
  .btn-arrow
    display: flex
    align-items: center
    justify-content: center
    fill: #C7C7C7
    width: 12px
    min-width: 12px
    height: 7px

.submenu-item__links.open
  .btn-arrow
    fill: #fff

.dropdown-menu__sub
  font-size: 13px

  li
    a
      padding: 10px 30px
      &:hover
        background: $green
        color: #fff
.submenu-item
  width: 100%
  position: relative
  &:before
    content: ''
    position: absolute
    left: 31px
    bottom: 0
    width: calc(100% - 31px - 39px)
    height: 1px
    background: #EEEEEE
  &:hover
    &:before
      opacity: 0
/*==========  header end  ==========*/



/*==========  mobile-menu  ==========*/
.mobile-menu
  background: rgba(255, 255, 255, 0.89)
  position: fixed
  z-index: 5
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow-y: auto
  display: none
  &__head
    padding: 24px 23px
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  .logo
    margin: 0
    max-width: 137px
  &__body
    padding: 0 25px 63px
    width: 100%
  .menu
    line-height: normal
    border-radius: 0
    margin: 0 0 90px
    flex-direction: column
    align-items: flex-start
    padding: 0
    background: transparent
    li
      border: none
      margin: 0 0 30px
      &:last-child
        margin: 0
      a
        padding: 0
        color: #000000
  .header-box
    margin: 0 0 25px
    color: #6C6C6C
    a
      color: #6C6C6C
    .phone
      color: #000000
      font-size: 18px

  .btn-call
    height: 40px
    max-width: 213px
    margin: 40px 0 0

.btn-close
  display: flex
  align-items: center
  justify-content: center
  width: 48px
  height: 48px
  min-width: 48px
  padding: 12px
  fill: #686868
  &:hover
    fill: $accent



/*==========  mobile-menu end  ==========*/